@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
 }

 @font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
 }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  }

.navigation-link{
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

.welcome-background {
background-image: url("../images/welcome-background.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
}

.about-sedona {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.causes {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantages-photo {
  display: block;
}
.advantages-list {
  text-align: center;
}

.advantages-item-deep {
  background-color: #83B3D3;
  color: #ffffff;
}

.advantages-item-middle {
  background-color:  rgba(131, 179, 211, 0.2);
}

.advantages-item-light{
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-white {
  background-color: #ffffff;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title-black {
  color: #000000;
}

.search-hotel-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotel-description {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.search-hotel {
  text-align: center;
}

.subscribe-index {
  background-image: url("../images/subscribe.jpg");
  background-color: #83B3D3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.footer-contact-phone {
color: #000000;
font-size: 40px;
line-height: 40px;
text-align: center;
text-transform: uppercase;
}

.hotels-filter {
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  color: #FFFFFF;
}

.inner-header-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-item {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px
}

.hotels-found {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.hotel-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-type {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-price {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.rating {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    background-color: #83B3D3;
   }

.pagination-current {
     color: #000000;
     background-color: #F2F2F2;
   }

.inner-subscribe-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.inner-subscribe-description {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.want-here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756257;
  text-decoration: none;
}

.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
}

.button-subscribe {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.button-blue {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.button-green {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.button-brown {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
